* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff !important;
  // height: 100%;
  font-family: "'Montserrat', 'sans-serif'" !important;
}

a {
  text-decoration: none;
}

// #root {
//   height: 100%;
// }

.css-12nu9md {
  display: none !important;
}

.css-106d0ed {
  box-shadow: none !important;
}

@media (max-width: 420px) {
  css-106d0ed {
    box-shadow: none;
    border: 1px solid #eee;
  }
}

@media (max-width: 420px) {
  a .makeStyles-resultCard-26 .css-106d0ed .e1cc0ogo1 {
    box-shadow: none !important;
  }
}
